:host {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: transparent;
  perspective: 1000px;
}

.card {
  position: relative;

  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  cursor: pointer;

  &__front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: linear-gradient(to left bottom, rgb(33, 33, 33) 0%, rgb(39 40 52) 50%, rgb(35, 51, 57) 100%);
    border-radius: 10px;
  }

  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #b7b7b7;
    transform: rotateY(180deg);
    border-radius: 10px;
  }
}

.opened {
  transform: rotateY(180deg);
}