@import '../components/title.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
}

.screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.restart-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}