@import '../components/title.scss';

.screen {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.restart-button {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 15px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform .1s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}