@import '../components/title.scss';

.screen {
  min-height: 100vh; 
  min-height: -webkit-fill-available;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.control {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.restart-button {
  font-size: 2rem;
  text-transform: uppercase;
  
  padding: 15px;

  background-color: #ffffff;

  border-radius: 5px;
  border: none;

  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    transition: transform .1s ease-in-out;
  }
}